@inherits LayoutComponentBase

<div class="page" style="position: relative">	
	<main style="position:absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0">
		<!--div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div> -->

		@Body

	</main>

	<div class="sidebar" style="position: absolute; top: 0; left: 0; z-index: 5">
		<NavMenu />
	</div>
</div>

@code{

}